
body{
    background: #f7f7f7; 
}
.cart-page{
    margin-left: 20px;
    padding-right: 20px;
}
.body-page{
    padding-left: 30px;
    padding-right: 30px;
}
.logo a img {
    height: 50px;
    padding-right: 10px; 
    padding-left: 200px;
    border-radius: 50%;
}


.card-item-display{
    margin-bottom: 20px;
}

.menuManager{
    padding: 5px;
    border-radius:2px;
}

.btn-menu-manager{
    margin-bottom: 5px;
    margin-left: 5px;
    padding-right: 20px ;
    background-color: white;
    border: 2px solid #323435;
    border-radius: 5px;
}
.btn-menu-manager:hover{
    margin-bottom: 5px;
    padding-right: 20px ;
    background-color: rgb(207, 209, 209);
    border: 2px solid #5a5a5a;
    border-radius: 5px;
    transition: 1ms;
}   
.navbar-light{
     position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 1rem rgb(29 28 28 / 10%);
    justify-content: space-between;

}

.tour{
    width: 89%;
    display: flex;
    margin: auto;
    border-radius: 2px;
    box-shadow:rgb(158, 153, 153) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
}
.tour .khoitin{
    width: 22%;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 5px;
    border: 5px solid rgb(240, 240, 240);
}
.khoitin .hinh{
    width: 100%;
    height: 100%;
}
.khoitin .diadiem{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    transition: 0.5s;
}
.khoitin:hover .diadiem{
    bottom: -40px;
    transition: 0.5s;
}
.khoitin .nen{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    padding: 5%;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}
.khoitin:hover .nen{
    opacity: 1;
    transition: 0.5s;
}
a {
    text-decoration: none!important;
    color: #000 !important;
 }


 .btn-mua{
    padding:5px;
    background-color: rgb(199, 59, 57);
    color:#fff !important;
 }
.containers{
    padding-left: 50px;
    padding-right: 50px;
    display: block;
}

.nd {
    position: absolute;
    width: 150px;
    /* border: 1px solid blue; */
    right: 10px;
    top: 50px;
    visibility: hidden;
}

.nd.active {
    visibility: visible;
}

.nd li {
    list-style: none;
    padding: 5px 0px;
}

.nd li:hover {
    background-color: rgb(76, 76, 182);
    padding-left: 5px;
}

.nd li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nd li a:hover {
    color: white;
    padding-left: 5x;
}
.btndn{
    font-size: 20px;
    padding-left: 15px ;
    margin-top: 10px;
    cursor: pointer;
}
.btndn:hover{
    font-weight: bold;
    color: #00a8ff;
}
.frdn {
    width: 300px;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px double darkblue;
    border-radius: 10px;
    padding: 5px;
    visibility: hidden;
}
.frdn.active{
    visibility: visible;
}

.frdn h1 {
    text-transform: uppercase;
    text-align: center;
}

.frdn .txt {
    width: 280px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid gray;
}
.mk{
    width: 300px;
    position: relative;
}
.mk i{
    position: absolute;
    right: 20px;
    top: 0px;
    cursor: pointer;
}
.frdn .nut{
    text-align: center;
}
.frdn .btn{
    font-size: 18px;
    padding: 7px 15px;
    margin: 5px 0;
    cursor: pointer;
}



.detail-slug{
    background: #ffffff; 
    border: 2px solid #ccc;
    padding:15px;
    box-shadow:rgb(158, 153, 153) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
}


.phantu:hover{
    background-color: #ecedec;
}
.phantu a.tren{
    color: white;
    font-size: 17px;
    display: block;
    text-transform: none;
    text-decoration: none;
    text-align: center;
}
.phantu .nd{
    width: 200px;
    margin-right: 72%;
    background-color:rgb(230, 230, 230);
    position: absolute;
    top: 50px;
    visibility: hidden;
}
.nd a{
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 8px;
    border-bottom: 1px solid #000000;
}
.nd a:hover{
    background-color:rgb(165, 165, 165);
    color: rgb(255, 255, 255) !important;
}
.phantu:hover .nd{
    visibility: visible;
}


.discount-sale{
    display: none;
}
.price-del{
    text-decoration: line-through;
}
.buy-detail{
    border-radius: 5px;
    background-color: rgb(245, 102, 0);
    border-color: rgb(255, 107, 1);
    color: #fff;
    font-family: 'Times New Roman';
    font-size: 20px;
    padding: 15px 30px;
}
.add-cart{
    border-radius: 5px;
    background-color: rgb(3, 234, 255);
    border-color: rgb(3, 234, 255);
    color: #fff;
    font-family: 'Times New Roman';
    font-size: 20px;
    padding: 15px 40px;
}

.add-cart:hover{
    border-radius: 5px;
    background-color: rgb(153, 154, 154);
    border-color: rgb(193, 193, 193);
    color: rgb(11, 11, 11);
    font-family: 'Times New Roman';
    font-size: 20px;
    padding: 15px 40px;
}
.buy-detail:hover{
    border-radius: 5px;
    background-color: rgb(153, 154, 154);
    border-color: rgb(193, 193, 193);
    color: rgb(11, 11, 11);
    font-family: 'Times New Roman';
    font-size: 20px;
    padding: 15px 30px;
}

.pagination{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pagination-item--active .pagination-item_link{
    color: #ffffff;
    background-color:#ca6a11 ;
}
.pagination-item_link{
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: #939393;
    min-width:40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
}
.block-not-none{
    display: none;
}

.dienthoai{
    width: 100px;
    height: 100px;
    position: fixed;
    margin-left: 100px;
    cursor: pointer;
}
.dienthoai .nen{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 80%;
    left: 5%;
    border-radius: 50%;
    background-color: rgb(204, 38, 38);
    z-index: 2;
}
.dienthoai .icon{
    position: fixed;
    z-index: 3;
    font-size: 60px;
    top: 83%;
    left: 7%;
    color: white;
    animation: rung 1s infinite;
}
.dienthoai .vien{
    width: 140px;
    height: 140px;
    border: 1px solid rgb(204, 38, 38);
    position: fixed;
    border-radius: 50%;
    top: 77.7%;
    left: 3.9%;
    z-index: 1;
    animation: s1 2s infinite;
}

@keyframes s1{
    0% {transform: scale(0.5);}
    100% {transform: scale(1);}
}
@keyframes rung{
    0% {transform: rotate(0);}
    10% {transform: rotate(-10deg);}
    20% {transform: rotate(0);}
    30% {transform: rotate(-10deg);}
    40% {transform: rotate(0);}
    50% {transform: rotate(-10deg);}
    60% {transform: rotate(0);}
    70% {transform: rotate(-10deg);}
    80% {transform: rotate(0);}
    90% {transform: rotate(-10deg);}
    100% {transform: rotate(0);}
}
.dienthoai .sdt{
    width: 400px;
    height: 100px;
    background-color: rgba(204, 38, 38, 0.623);
    position: fixed;
    top: 80%;
    left: 25%;
    border-radius: 10px;
    visibility: hidden;
}
.dienthoai .sdt::before{
    content: "";
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: rgba(204, 38, 38, 0.692);
    position: fixed;
    left: 23%;
    top: 780px;
}
.dienthoai p{
    font-size: 40px;
    text-align: center;
    color: white;
}
.dienthoai:hover .sdt{
    visibility: visible;
    left: 270px;
    transition: 1s;
}
.dienthoai:hover .sdt::before{
    visibility: visible;
    left: 225px;
    transition: 1s;
}
.body-admain{
    margin-top: 7%;
}
.accordion {
    background-color: rgb(255, 255, 255);
    color: rgb(6, 6, 6);
    cursor: pointer;
    padding: 2px;
    width: 65%;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-left:5px;
    margin-bottom: 5px;
  }
  
  .active, .accordion:hover {
    background-color: rgb(255, 255, 255); 
  }
  
  .panel {
      display: none;
      background-color: white;
      overflow: hidden;
      
    }
 .box-menu{
    padding: 0 18px;
}
.main {
    font-family:Arial;
    width:500px;
    display:block;
    margin:0 auto;
  }





.phantu-login:hover{
    background-color: #d1d0d0d3;
}


.phantu-login a.tren{
    color: white;
    font-size: 17px;
    display: block;
    text-transform: none;
    text-decoration: none;
    text-align: center;
}
.phantu-login .nd-login{
    width: 200px;
    margin-right: 12%;
    background-color:rgb(230, 230, 230);
    position: absolute;
    top: 41px;
    visibility: hidden;
}
.nd-login a{
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 8px;
    border-bottom: 1px solid #000000;
}
.nd-login a:hover{
    background-color:rgb(165, 165, 165);
    color: rgb(255, 255, 255) !important;
}
.phantu-login:hover .nd-login{
    visibility: visible;
}

.vehicleVay-class-display{
    display: none;
}

.btn-search-form{
    margin-bottom:20px;
    margin-left:7%;
    padding-left: 15px;
    padding-right: 15px;
    border-color:  rgb(101, 88, 88);
    border-radius: 5px;
}
